.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  display: block;
  width: 60%;
  height: 2rem;
  margin: 20px auto 60px auto;
}

li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}
